{% set pURL = 'theme://images/portfolio/' %}
    <!-- PORTFOLIO -->
    <div class="container-fluid portfolio" id="work">
      <div class="col-xs-12">
        <h1 class="headline">View My Work</h1>
      </div>
      <!-- PORTFOLIO THUMBNAILS -->
      <!-- WORK 1: CELEBRATE YOUR LAKE -->
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <a href="#" data-toggle="modal" data-target="#work-1">
          <div class="image-wrapper">
            <img src="{{ url("theme://images/portfolio/celebrate-your-lake/00-thumbnail.jpg") }}" class="img-responsive center-block">
            <div class="work-wrapper">
              <div class="work-item">
                <h3><span class="glyphicon glyphicon-zoom-in"></span></h3>
              </div>
            </div>
          </a>
        </div>
        </div>
      <!-- WORK 2: REFER-A-FRIEND -->
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <a href="#" data-toggle="modal" data-target="#work-2">
          <div class="image-wrapper">
            <img src="{{ url("theme://images/portfolio/ya-raf/00-thumbnail.jpg") }}" class="center-block img-responsive">
            <div class="work-wrapper">
              <div class="work-item">
                <h3><span class="glyphicon glyphicon-zoom-in"></span></h3>
              </div>
            </div>
          </a>
        </div>
       </div>  
      <!-- WORK 3: DORITOS AVENGERS -->
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <a href="#" data-toggle="modal" data-target="#work-3">
          <div class="image-wrapper">
            <img src="{{ url("theme://images/portfolio/doritos-avengers/00-thumbnail.jpg") }}" class="img-responsive center-block">
            <div class="work-wrapper">
              <div class="work-item">
                <h3><span class="glyphicon glyphicon-zoom-in"></span></h3>
              </div>
            </div>
          </a>
        </div>
        </div>
      <!-- WORK 4: MONTEJO -->
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <a href="#" data-toggle="modal" data-target="#work-4">
          <div class="image-wrapper">
            <img src="{{ url("theme://images/portfolio/montejo/00-thumbnail.jpg") }}" class="img-responsive center-block">
            <div class="work-wrapper">
              <div class="work-item">
                <h3><span class="glyphicon glyphicon-zoom-in"></span></h3>
              </div>
            </div>
          </a>
        </div>
        </div>
      <!-- WORK 5: BAKEQUIP -->
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <a href="#" data-toggle="modal" data-target="#work-5">
          <div class="image-wrapper">
            <img src="{{ url("theme://images/portfolio/bakequip/00-thumbnail.jpg") }}" class="img-responsive center-block">
            <div class="work-wrapper">
              <div class="work-item">
                <h3><span class="glyphicon glyphicon-zoom-in"></span></h3>
              </div>
            </div>
          </a>
        </div>
        </div>
      <!-- WORK 6: NAKED JUICE -->
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <a href="#" data-toggle="modal" data-target="#work-6">
          <div class="image-wrapper">
            <img src="{{ url("theme://images/portfolio/naked-juice/00-thumbnail.jpg") }}" class="img-responsive center-block">
            <div class="work-wrapper">
              <div class="work-item">
                <h3><span class="glyphicon glyphicon-zoom-in"></span></h3>
              </div>
            </div>
          </a>
        </div>
        </div>
      <!-- /PORTFOLIO THUMBNAILS -->
